<button id="crack-trigger" class="crack-trigger" type="button" aria-label="Break the page open">
  <svg viewBox="0 0 72 120" aria-hidden="true" focusable="false">
    <path d="M38 2 24 31l17 10-25 33 22-7-9 51 27-62-20 6 19-35-15-7Z" />
  </svg>
</button>
